#background-image {
    background-image: url(./img/bat_cover.jpg);
    height: 350px;
    padding-top: 50px;
    color: #fff;
    margin-top: 25px;
    background-size: cover;
}

h1, h4 {
    color: #fff;
    text-align: center;
}

#content {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
}

.right {
    float: right;
    margin-right: 100px;
}

.left {
    float: left;
    margin-left: 100px;
}

p {
    margin: 20px;
}

#identity {
    overflow: auto;
    margin: 20px;
    width: 1208px;
}

#image {
    padding: 0 20px 20px 20px;
}

#movie {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    margin: 50px;
}

.thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #000;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 30px;
}

table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    height: 30px;
    border: 1px solid #a4a4a4;
}

th {
    text-align: left;
    background-color: #ececec;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}

#header {
    padding: 5px 0px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 14px 70px;
    font-size: 15px;
    margin-bottom: 30pz;
}

#subscribe {
    border: none;
    background-color: #26211f;
    color: white;
    font-size: 16px;
    margin-bottom: 4px -4px;
    padding: 16px 40px;
}

tr:hover {
    background-color: #26211f;
    color: rgb(177, 150, 150);
}

/* @media (min-width:320px){
    .container{
        width: 320px;
    }
} */

/* @media (min-width:481px){
    .container{
        width: 481px;
    }
} */

@media (min-width:641px) {
    .container {
        width: 641px;
    }
    #identity {
        width: 641px;
    }
    #movie {
        display: flex;
        flex-direction: column;
    }
    .thumbnail {
        background-color: white;
        border: none;
       
    }
    #image{
        padding: 0 20px 20px 200px;
    }
    .thumbnail h4{
        color: black;
    }
}

/* @media (min-width:961px){
    .container{
        width: 961px;
    }
} */

/* @media (min-width:1000px){
    .container{
        width: 1000px;
    }
} */